@import url(reset.css);

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #588157;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
}

.panel__pricing-table {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 960px;
    max-height: 100%;  
    border: 0.1em solid #344e41;
    border-radius: 10px;
    padding: 15px 25px;
    background-color: #dad7cd;

    text-transform: uppercase;
}

.pricing-plan {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    border-bottom: 1px solid #58815730;

    margin-bottom: 15px;
}

.pricing-img {
    border-radius: 15px;
    opacity: 0.6;
}

.pricing-header {
    color: #3a5a40aa;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    padding-top: 10px;

}

.pricing-feature {
    margin: 50px 0 25px;
    color: #344e41;
    width: 100%;
    text-align: center;
}

.pricing-fiture-item {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.5;
    padding: 15px 0;
    border-top: 1px solid #58815730;
}

.pricing-fiture-item:last-child {
    border-bottom: 1px solid #58815730;
}

.pricing-price {
    color: #588157;
    display: block;
    font-size: 32px;
    font-weight: 700;
}

.pricing-button {
    border: 1px solid #58815730;
    border-radius: 10px;
    color: #4a7049;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    transition: background-color 0.2s ease-in;
}

.pricing-button:hover {
    background-color: #5881579a;
}

.pricing-button.is-featured {
    background-color: #598957;
    color: aliceblue;
}

.pricing-button.is-featured:hover {
    background-color: #bdb8a6;
}

@media (max-width: 990px) {
    .panel__pricing-table {
        display: flex;
        flex-direction: column;
    }
}